---
import MySiteLayout from '../layouts/main-layout.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/portfolio/images/icon-fdaniel13s.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fernando Quispe</title>
	</head>
	<body>
		<MySiteLayout title="Fernando Quispe">
		  </MySiteLayout>
	</body>
</html>
