---

---

<div id="aboutme" class="hero-section max-w-7xl mx-auto mt-20 flex flex-col md:flex-row items-center gap-8">
    <!-- Sección de imagen y redes sociales -->
    <div class="image-section flex flex-col items-center justify-center md:items-center flex-1">
        <img
                class="w-40 h-40 rounded-full object-cover"
                src="/src/images/fernando-quispe.jpg"
                alt="Fernando Quispe"
        />
        <p class="mt-4 text-lg font-medium text-gray-800 dark:text-white text-center md:text-left hover:text-amber-400 hover:cursor-pointer">
            !Contactame ahora!
        </p>
        <nav class="flex gap-4 mt-4">
            <a
                    href="https://github.com/fdaniel13s"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-10 h-10 flex items-center justify-center bg-gray-200 rounded-full dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 "
            >
                <img
                        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                        alt="Github"
                        class="w-5 h-5"
                />
            </a>
            <a
                    href="https://www.linkedin.com/in/fernando-quispe-5532901b4/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-10 h-10 flex items-center justify-center bg-gray-200 rounded-full dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 "
            >
                <img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                        alt="LinkedIn"
                        class="w-5 h-5"
                />
            </a>
            <a
                    href="https://www.youtube.com/@danifern2729"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-10 h-10 flex items-center justify-center bg-gray-200 rounded-full dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 "
            >
                <img
                        src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png"
                        alt="Youtube"
                        class="w-5 h-5"
                />
            </a>
            <a
                    href="mailto:ferndani2718@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-10 h-10 flex items-center justify-center bg-gray-200 rounded-full dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 "
            >
                <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png"
                        alt="Gmail"
                        class="w-5 h-5"
                />
            </a>
        </nav>
    </div>

    <!-- Sección de descripción -->
    <div class="description-section flex-1 text-center md:text-left ">
        <h1 class="text-5xl font-bold tracking-tight text-gray-800 dark:text-white">
            Fernando Quispe
        </h1>
        <p class="mt-6 p-6 text-lg text-gray-700 dark:text-gray-300 md:text-justify">
            Soy <b>Ingeniero de Software</b> con experiencia en el desarrollo de aplicaciones web y móviles.
            Me apasionan las nuevas tecnologías y ofrezco soluciones innovadoras y de calidad para llevar tus proyectos al siguiente nivel. ¡Hablemos y haz crecer tu idea!
        </p>
    </div>
</div>
