---

const { title } = Astro.props;
import Hero from '../components/hero.astro';
import Header from '../components/header.astro';
import Skills from '../components/skills.astro';
import Projects from '../components/projects.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
      </style>
  </head>
  <body class="relative text-black dark:text-white mx-auto">
    <Header />
    <Hero class="mt-16"></Hero>
    <Skills ></Skills>
    <Projects id="projects" ></Projects>
    <article>
      <slot/> <!-- your content is injected here -->
    </article>
  </body>
  <style is:global>
    :root{
      color-scheme: light dark;
    }
    html{
      font-family: "Oswald", sytem-ui, sans-serif;
      scroll-behavior: smooth;
    }
    body{
      color:rgba(17,17,17,0.9);
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overscroll-behavior: none;
    }

    
  </style>
</html>